/* This is a css file for perfect timing project

@author Aditi Joshi*/

 body{
	margin: 10px;
	text-align: center;
	margin: auto;
}

.col-md-6 > div{
	display: inline-block;
	padding: 10px;
}

ul li{
	display: inline-block;
}

ul li img{
	width: 50px;
	height: 50px;
}